body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif
}

main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

h1{
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 16px;
    margin: 16px 0;
    text-align: center;
}

#img-div{
    background-color: white;
    padding: 10px;
}
#img-div img{
    margin: auto;
}

h3{
    margin: 50px 0;
    text-align: center;
}

ul{
    margin: 0 350px 50px ;
    padding: 0 0 0 40px;
    line-height: 1.6;
}

li{
    margin: 16px 0;
}

p{
    /* text-align: center; */
    margin: 16px 350px;
}

cite{
    margin: 0 370px;
}

#img-div{
    margin: auto;
}
#img-caption{
    text-align: center;
    margin: 15px 0 5px;
}